# Exercise Question 1: Given an input list removes the value 70 and insesrt it to the 2nd position and also, at the end of the list "

In [15]:
#List
lst = [54,44,22,70,12,52]

In [16]:
#remove the item by value, i.e 70
lst.remove(70)

In [17]:
#insert value 70 by index in to 2nd position, i.e index value is 1
lst.insert(1,70)

In [18]:
#add value 70 at the end of the list
lst.append(70)

In [19]:
lst

[54, 70, 44, 22, 12, 52, 70]

# Exercise Question 2: Given an input list removes the element at index 1 and add it to the 4nd position

In [23]:
#List a
lst_a = [2,3,1,6,7,8,10]
B = 1

In [27]:
ind_2 = lst_a.pop(B)

In [28]:
lst_a

[2, 1, 6, 7, 8, 10]

In [33]:
lst_a.insert(ind_2,ind_2)

In [34]:
lst_a

[2, 1, 6, 3, 7, 8, 10]

In [35]:
ind_2

3

# Exercise Question 3: Given a Python list you should be able to sort Python list in the alphabatical order

In [36]:
Alphabet = ['aa','bc','ca','ma','A','BA','AA']

In [37]:
# Sort returns and changes the orginal list without you needing to write it back
Alphabet.sort()
print(Alphabet)

['A', 'AA', 'BA', 'aa', 'bc', 'ca', 'ma']

In [38]:
Alphabet

['A', 'AA', 'BA', 'aa', 'bc', 'ca', 'ma']

In [53]:
Alphabet_1 = ['aa','bc','ca','ma','A','BA','AA']

In [55]:
#sorted in terms of results but sorted does not return and change the actual list
Alphabet = sorted(Alphabet_1)
print(Alphabet)

['A', 'AA', 'BA', 'aa', 'bc', 'ca', 'ma']

In [56]:
Alphabet_1

['aa', 'bc', 'ca', 'ma', 'A', 'BA', 'AA']

# Exercise Question 4: Given a Python list you should be able to display Python list in the following order
#list I have currently with me:num = [28,10,9,6,55] expected order[55, 28, 10, 9, 6]

In [57]:
num = [28,10,9,6,55]

In [61]:
# Only Sorting
num.sort()
print(num)

[6, 9, 10, 28, 55]

In [64]:
#Sorting and Reversing
num.sort(reverse = True)
print(num)

[55, 28, 10, 9, 6]

# Exercise Question 5: List Sliciing

In [71]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [72]:
#[start:stop]
lst[2:5]

[3, 4, 5]

In [74]:
#[start:stop:step]
lst[1:9:2]

[2, 4, 6, 8]

In [75]:
lst[-1]

10

In [76]:
lst[-11:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
lst[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
lst[:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
lst[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Tuple
"""
1. Allows Hetrogenous
2. Retrive using Index
3. Cannot change the data once declared! - immutable
4. ()
"""

In [82]:
sample_tuple = (1,10,30,'Siva',4+5j)

In [83]:
sample_tuple[3]

'Siva'

In [84]:
sample_tuple[2] = 1

TypeError: 'tuple' object does not support item assignment

# SET
"""
1. Hetogenous
2. D'not allow duplicates
2. Cannot access using Index
4. Immutabale
5. Sometimes order of value changes
6. {}
"""

In [85]:
sample_set = {1,2,3,4,4,4,4,4,6,7,8,'a',4+5j}

In [86]:
sample_set

{(4+5j), 1, 2, 3, 4, 6, 7, 8, 'a'}

In [87]:
sample_set[4]

TypeError: 'set' object is not subscriptable